<div class="comment comment-<%= comment.id%>">
    <p><%= comment.body %></p>
    <%= link_to "Edit Comment", edit_post_comment_path(comment.post, comment) %>
    <%= link_to "Delete Comment", post_comment_path(comment.post, comment), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
