<%  if @author.errors.any? %>
    if (document.querySelector('#error_explanation')) {
        document.querySelector('#error_explanation').remove();
    }
    document.querySelector('#author_form').insertAdjacentHTML('afterbegin', '<%= escape_javascript(render "shared/validation-messages", object: @author) %>');
<%  else %>
    if ( document.querySelector('#error_explanation') ) {
        document.querySelector('#error_explanation').remove();
    }
    if( document.querySelector("select#post_author_id option[selected='selected']") ) {
        document.querySelector("select#post_author_id option[selected='selected']").removeAttribute('selected');
    }
    document.querySelector('select#post_author_id').insertAdjacentHTML('afterbegin', '<option value="<%= @author.id %>" selected="selected" ><%= @author.formatted_name %></option>') ;
    document.querySelector('#author_form').reset();
<%  end %>