<% if object.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
        <p class="font-weight-bold"><%= pluralize(object.errors.count, "error") %> prohibited this <%= "#{object.class.name.downcase}" %> from being saved:</p>
        <ul>
            <% object.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>